<div style="min-width: 100%;min-height: 200%;background-image: url('/assets/img/wood-09.jpg');background-size: cover;">
    <br><br>
    <div class="container" style="max-width: 600px;background-color: white;">
        <br>
        <h2 class="textual">User Registration</h2>
      <form  #registerform="ngForm" (ngSubmit) = "registerUser()">
            <!-- <small [class.text-danger] = "msg.status==500" >{{msg.message}}</small>  -->
       
            <div class="form-group">
                <label for="email">Email:</label>
                  <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)] = "user.email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" #email="ngModel" [class.is-invalid] = "email.invalid && email.touched">
        
                  <!-- <small class="text-danger" [class.d-none] = "email.valid || email.untouched">Email is required field.</small> -->
                    
                  <div *ngIf="email.errors && (email.invalid && email.touched)">
                      <small class="text-danger" *ngIf="email.errors.required">Email is required field.</small>
                      <small class="text-danger" *ngIf="email.errors.pattern">Please enter a valid email format.</small>
                  </div>
              </div>
    
              <div class="form-group">
                <label for="username">User Name:</label>          
                    <input type="text" class="form-control" placeholder="Enter Username" name="username" [(ngModel)] = "user.userName" required #username="ngModel" [class.is-invalid] = "username.invalid && username.touched">
                    <small class="text-danger" [class.d-none] = "username.valid || username.untouched">Username is required field.</small>
                </div>
              
    
              <div class="form-group">
                <label for="pwd">Password:</label>         
                    <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)] = "user.password" required #password="ngModel" [class.is-invalid] = "password.invalid && password.touched">
                    <small class="text-danger" [class.d-none] = "password.valid || password.untouched">Password is required field.</small>
              </div>
    
              <div class="form-group">
                <label for="pwd">Confirm Password:</label>         
                    <input type="password" class="form-control" placeholder="Enter confirm password" name="cpassword" #cpassword="ngModel" (ngModel) = "user.password" required [class.is-invalid] = "cpassword.invalid && cpassword.touched">
                    <small class="text-danger" [class.d-none] = "cpassword.value == password.value || cpassword.untouched">Password & Confirm password fields must be the same.</small>
              </div>
            <br>
          <button [disabled]="registerform.invalid" type="submit" class="btn btn-info">Register</button>
        <br><br>
        <button type="submit" class="btn btn-info">
            <small class="float-right" [routerLink]="['/login']">Existing user ? Login here.</small>
        </button>
        <br><br>

      </form>
       
      </div>
      <br><br><br><br><br><br><br><br>
    </div>